body{
background:#111;
color:white;
font-family:Arial;
margin:0;
}

header{
background:#ffd400;
color:black;
padding:20px;
font-size:25px;
font-weight:bold;
}

.cards{
display:flex;
gap:20px;
padding:20px;
}

.card{
background:#222;
padding:20px;
border-radius:12px;
width:220px;
text-align:center;
border:2px solid #ffd400;
}

.card h2{
font-size:40px;
color:#ffd400;
margin:0;
}

#search{
margin:20px;
width:300px;
padding:12px;
border-radius:8px;
border:none;
font-size:16px;
}

table{
width:95%;
margin:auto;
border-collapse:collapse;
}

th{
background:#ffd400;
color:black;
padding:15px;
}

td{
padding:15px;
border-bottom:1px solid #333;
}

tr:hover{
background:#1d1d1d;
}
